@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="8353040b-fd21-7f1d-1b6b-81ab53423aca"] {
    display: none;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="8353040b-fd21-7f1d-1b6b-81ab53423acc"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(-180deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(-180deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(-180deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(-180deg) skew(0, 0);
  }
}

.23-input-field {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

.no-scroll-pill {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg) skew(0deg, 0deg) !important;
  z-index: 999999;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor-wrapper {
  pointer-events: none;
}
